@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@font-face {
    font-family: Product Sans;
    src: url(./assets/Fonts/Product\ Sans\ Regular.ttf);
}

@font-face {
    font-family: Product Sans Bold;
    src: url(./assets/Fonts/Product\ Sans\ Bold.ttf);
}

@font-face {
    font-family: Product Sans Italic;
    src: url(./assets/Fonts/Product\ Sans\ Italic.ttf);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    background: rgb(248, 237, 237);
}

::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-thumb {
    width: 9px;
    background-color: rgb(210, 203, 203);
}

::-webkit-scrollbar-track {
    width: 10%;
    background-color: #4e4b4b;
}


/* Constaint CSS */

/* 
#FD1E57  #FD3567  #FD4B77

#FD6188 #FD7899

#FE8EAA  #FEA5BB */

:root {
    --primary-bg: #FD1E57;
    --secondary-bgc: #FD6188;
    --primary-text: black;
    --secondary-text: white;
    --sec-sec-text: rgb(247, 246, 246);

}

.hero-section {
    width: 100%;
    min-height: 100vh;
}

.navbar-sec {
    display: flex;
    width: 100%;
    height: 60px;
    background-color: rgb(255, 255, 255);
    margin: 5px;
    width: 95%;
    margin: 0 auto;
    border-radius: 0px 0px 20px 20px;
    margin-bottom: 10px;
    z-index: 99;
}

.nav-left {
    width: 45%;
    height: 100%;
}

.center-nav {
    display: flex;
    justify-content: center;
    width: 20%;
}

.center-nav img {
    height: 90px;
    margin-top: 5px;
    z-index: 99;
}

.right-nav {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 45%;
    height: 100%;
    /* background-color: aqua; */
    padding: 0px 20px;
}

.intro-first-page {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    height: 80vh;
    padding: 15px 50px;
    width: 95%;
    background-color: var(--primary-bg);
    border-radius: 20px;
    color: var(--secondary-text);
    z-index: 9;
}

.intro-headings-part {
    width: 44%;
    max-height: 80%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-family: Product Sans;

}

.intro-headings-part span {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-weight: 600;
    color: rgb(9, 255, 185);
    margin-left: 5px;
    font-size: .9vw;
}

.intro-headings-part h1 {
    font-family: Product Sans Bold;
    font-size: 3.8vw;
}

.intro-headings-part p {
    color: var(--sec-sec-text);
    font-size: 13px;
}

.intro-headings-part button {
    padding: 12px 22px;
    border-radius: 8px;
    font-weight: 600;
    border: none;
    font-family: Product Sans;
    text-transform: uppercase;
    color: var(--secondary-bgc);
    cursor: pointer;
    width: fit-content;
    font-size: 12px;
}

.intro-right-pannels {
    max-height: 90%;
    width: 20%;
}

.ir-pannels {
    position: relative;
    width: 100%;
    height: 7vw;
    margin-top: 5px;
}

.ir-pannels img {
    width: 100%;
    height: 100%;
}

.ir-pannels-cnt {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    color: var(--primary-text);
    height: 100%;
}

.ir-pannels:nth-child(3) {
    height: 15vw;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 10px;
}