@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@font-face {
    font-family: Product Sans;
    src: url(./assets/Fonts/Product\ Sans\ Regular.ttf);
}

@font-face {
    font-family: Product Sans Bold;
    src: url(./assets/Fonts/Product\ Sans\ Bold.ttf);
}

@font-face {
    font-family: Product Sans Italic;
    src: url(./assets/Fonts/Product\ Sans\ Italic.ttf);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    background: rgb(248, 237, 237);
}

::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-thumb {
    width: 9px;
    background-color: rgb(210, 203, 203);
}

::-webkit-scrollbar-track {
    width: 10%;
    background-color: #4e4b4b;
}


/* Constaint CSS */

/* 
#FD1E57  #FD3567  #FD4B77

#FD6188 #FD7899

#FE8EAA  #FEA5BB */

:root {
    --primary-bg: #FD1E57;
    --secondary-bgc: #FD6188;
    --primary-text: black;
    --secondary-text: white;
    --sec-sec-text: rgb(247, 246, 246);

}

.hero-section {
    width: 100%;
    min-height: 100vh;
}

.navbar-sec {
    display: flex;
    width: 100%;
    height: 60px;
    background-color: rgb(255, 255, 255);
    margin: 5px;
    width: 95%;
    margin: 0 auto;
    border-radius: 0px 0px 20px 20px;
    margin-bottom: 10px;
    z-index: 99;
}

.nav-left {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 45%;
    height: 100%;
}
.nav-left a{
    text-decoration: none;
    margin-right: 2vw;
    font-family: Product Sans;
    font-size: 14px;
    color: var(--primary-text);

}

.center-nav {
    display: flex;
    justify-content: center;
    width: 20%;
}

.center-nav img {
    height: 90px;
    margin-top: 5px;
    z-index: 99;
}

.right-nav {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 45%;
    height: 100%;
    /* background-color: aqua; */
    padding: 0px 20px;
}
.nav-icons{
    font-size: 23px;
    margin-right: 2vw;
    color: rgb(0, 0, 0);
}
.right-nav button{
    padding: 6px 15px;
    margin-right: 2vw;
    border: none;
    border: 1px solid var(--primary-bg);
    background-color: #f792ab;
    color: white;
    font-family: Open Sans;
    font-family: Product Sans;
    border-radius: 6px;

}

.intro-first-page {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    height: 80vh;
    padding: 0px 50px;
    width: 95%;
    background-color: var(--primary-bg);
    border-radius: 20px;
    color: var(--secondary-text);
    z-index: 9;
}

.intro-headings-part {
    width: 44%;
    max-height: 80%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-family: Product Sans;

}

.intro-headings-part>span {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-weight: 600;
    color: rgb(9, 255, 185);
    margin-left: 5px;
    font-size: .9vw;
}

.intro-headings-part h1 {
    font-family: Product Sans Bold;
    font-size: 3.8vw;
}

.intro-headings-part p {
    color: var(--sec-sec-text);
    font-size: 13px;
}

.in-head-btn {
    display: flex;
    align-items: center;
    /* background-color: aqua; */
    gap: 1.3rem;
    cursor: pointer;
}

.in-head-btn button {
    padding: 12px 22px;
    border-radius: 8px;
    font-weight: 600;
    border: none;
    font-family: Product Sans;
    text-transform: uppercase;
    color: var(--secondary-bgc);
    cursor: pointer;
    width: fit-content;
    font-size: 12px;
    white-space: nowrap;
}

.in-head-trend {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 8px;
}

.in-head-trend img{
    width: 8%;
}

.in-head-trend span {
    border-bottom: 1px solid #fff;
    font-size: .8rem;
}

.intro-center-img{
    height: 100%;
}
.intro-center-img img{
    height: 100%;
}

.intro-right-pannels {
    max-height: 90%;
    width: 20%;
}

.ir-pannels {
    position: relative;
    width: 100%;
    height: 7vw;
    margin-top: 5px;
    color: var(--primary-text);
}

.ir-pannels img {
    width: 100%;
    height: 100%;
}

.ir-pannels-cnt {
    display: flex;
    /* justify-content: center; */
    gap: 15px;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    margin-left: 30px;
}

.ir-pannels-cnt .star-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background-color: #222;
    border-radius: 50%;
}

.ir-pannels span {
    font-family: Product Sans;
    font-size: 1.2rem;
}

.ir-pannels .gift-box {
    height: 45px;
    width: 45px;
}

.ir-pannels:nth-child(3) {
    min-height: 15vw;
    background-color: #fff;
    border-radius: 10px;
    /* margin-top: 10px; */
    font-family: Product Sans;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .8rem;
}

.ir-pannels3 p {
    color: #555;
    font-size: 14px;
    margin: 5px 0px;
}

.ir-pannels:nth-child(3) button {
    padding: 12px 22px;
    font-weight: 500;
    border: none;
    font-family: Product Sans;
    color: var(--secondary-text);
    cursor: pointer;
    width: fit-content;
    font-size: 14px;
    background-color: var(--primary-bg);
    border-radius: 2px;
    box-shadow: 0px 0px 6px 0px #f96d6d;
}