@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@font-face {
    font-family: Product Sans;
    src: url(./assets/Fonts/Product\ Sans\ Regular.ttf);
}

@font-face {
    font-family: Product Sans Bold;
    src: url(./assets/Fonts/Product\ Sans\ Bold.ttf);
}

@font-face {
    font-family: Product Sans Italic;
    src: url(./assets/Fonts/Product\ Sans\ Italic.ttf);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Product Sans;

}

html,
body {
    width: 100%;
    height: 100%;
    background: rgb(240, 240, 240);
}

::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-thumb {
    width: 9px;
    background-color: rgb(210, 203, 203);
}

::-webkit-scrollbar-track {
    width: 10%;
    background-color: #4e4b4b;
}


/* Constaint CSS */

/* 
#FD1E57  #FD3567  #FD4B77

#FD6188 #FD7899

#FE8EAA  #FEA5BB */

:root {
    --primary-bg: #FD1E57;
    --secondary-bgc: #FD6188;
    --primary-text: black;
    --secondary-text: white;
    --sec-sec-text: rgb(247, 246, 246);

}

.hero-section {
    width: 100%;
    min-height: 100vh;
}

/* Navbar Start */

.navbar-sec {
    display: flex;
    width: 100%;
    height: 60px;
    background-color: rgb(255, 255, 255);
    margin: 5px;
    width: 100%;
    margin: 0 auto;
    border-radius: 0px 0px 20px 20px;
    margin-bottom: 10px;
    z-index: 99;
}

.nav-left {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 45%;
    height: 100%;
}

.nav-left a {
    text-decoration: none;
    margin-right: 2vw;
    font-family: Product Sans;
    font-size: 14px;
    color: var(--primary-text);

}

.center-nav {
    display: flex;
    justify-content: center;
    width: 20%;
}

.center-nav img {
    height: 90px;
    margin-top: 5px;
    z-index: 99;
}

.right-nav {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 45%;
    height: 100%;
    /* background-color: aqua; */
    padding: 0px 20px;
}

.nav-icons {
    font-size: 23px;
    margin-right: 2vw;
    color: rgb(0, 0, 0);
}

.right-nav button {
    padding: 6px 15px;
    margin-right: 2vw;
    border: none;
    background-color: var(--primary-bg);
    box-shadow: 0px 0px 3px 0px #FD1E57;
    color: white;
    font-family: Open Sans;
    font-family: Product Sans;
    border-radius: 6px;
    cursor: pointer;
}

/* Navbar End */

/* Intro Page Start */
.intro-first-page {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    height: 80vh;
    padding: 0px 50px;
    width: 95%;
    background-color: var(--primary-bg);
    border-radius: 20px;
    color: var(--secondary-text);
    z-index: 9;
}

.intro-headings-part {
    width: 44%;
    max-height: 80%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-family: Product Sans;

}

.intro-headings-part>span {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-weight: 600;
    color: rgb(9, 255, 185);
    margin-left: 5px;
    font-size: .9vw;
}

.intro-headings-part h1 {
    font-family: Product Sans Bold;
    font-size: 3.8vw;
}

.intro-headings-part p {
    color: var(--sec-sec-text);
    font-size: 13px;
}

.in-head-btn {
    display: flex;
    align-items: center;
    /* background-color: aqua; */
    gap: 1.3rem;
    cursor: pointer;
}

.in-head-btn button {
    padding: 12px 22px;
    border-radius: 8px;
    font-weight: 600;
    border: none;
    font-family: Product Sans;
    text-transform: uppercase;
    color: var(--secondary-bgc);
    cursor: pointer;
    width: fit-content;
    font-size: 12px;
    white-space: nowrap;
    cursor: pointer;
}

.in-head-trend {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 8px;
}

.in-head-trend img {
    width: 8%;
}

.in-head-trend span {
    border-bottom: 1px solid #fff;
    font-size: .8rem;
}

.intro-center-img {
    height: 100%;
}

.intro-center-img img {
    height: 100%;
}

.intro-right-pannels {
    max-height: 90%;
    width: 20%;
}

.ir-pannels {
    position: relative;
    width: 100%;
    height: 7vw;
    margin-top: 5px;
    color: var(--primary-text);
}

.ir-pannels img {
    width: 100%;
    height: 100%;
}

.ir-pannels-cnt {
    display: flex;
    /* justify-content: center; */
    gap: 15px;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    margin-left: 30px;
}

.ir-pannels-cnt .star-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background-color: #222;
    border-radius: 50%;
}

.ir-pannels span {
    font-family: Product Sans;
    font-size: 1.2rem;
}

.ir-pannels .gift-box {
    height: 45px;
    width: 45px;
}

.ir-pannels:nth-child(3) {
    min-height: 15vw;
    background-color: #fff;
    border-radius: 10px;
    /* margin-top: 10px; */
    font-family: Product Sans;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .8rem;
}

.ir-pannels3 p {
    color: #555;
    font-size: 14px;
    margin: 5px 0px;
}

.ir-pannels:nth-child(3) button {
    padding: 12px 22px;
    font-weight: 500;
    border: none;
    font-family: Product Sans;
    color: var(--secondary-text);
    cursor: pointer;
    width: fit-content;
    font-size: 14px;
    background-color: var(--primary-bg);
    border-radius: 2px;
    box-shadow: 0px 0px 6px 0px #f96d6d;
}

/* Product Details Section */


.test {
    width: 100%;
    height: 40vh;
    background-color: grey;
}


.product-details {
    width: 100%;
    min-height: 150vh;
    background-color: rgb(254, 254, 254);
    padding-top: 100px;
}

.product-heading-section {
    width: 90%;
    height: 60vh;
    margin: 0 auto;
    background-color: #ff86a4;
    border-radius: 40px;
}

.ph-headings {
    display: flex;
    width: 100%;
    height: 30%;
}

.ph-cnt {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100%/3);
    height: 100%;
    font-family: Product Sans;
}

.ph-cnt a {
    color: var(--secondary-text);
    text-decoration: none;
    font-family: Product Sans;
}

.ph-cnt a span {
    color: var(--primary-text);
}

.ph-cnt h2 {
    font-size: 2rem;
    font-family: Product Sans;
    font-family: Alegreya Sans SC;
}

.ph-arrow-icons {
    display: flex;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.product-pannel {
    display: flex;
    width: 80%;
    height: 70vh;
    margin: 0 auto;
    border-radius: 50px;
    overflow: hidden;
    background-color: rgba(223, 219, 219, 0.949);
    background: linear-gradient(to top, #ff86a4, rgba(255, 255, 255, 0.825));
    backdrop-filter: blur(100px);

    /* From https://css.glass */
}

.pp-pannels {
    height: 100%;
}

.pp-left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 30%;
    padding-left: 30px;
    padding-right: 15px;
    font-family: Product Sans;
}

.pp-cnt-left {
    width: 100%;
}

.pp-cnt-left p {
    font-size: 12px;
}

.pp-cnt-left:nth-child(3) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.pp-img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

.pp-center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.product-clr-outline {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25vw;
    height: 25vw;
    border-top: 1px solid #FD1E57;
    border-bottom: 1px solid #FD1E57;
    border-radius: 50%;
}

.product-clr {
    width: 22vw;
    height: 22vw;
    background-color: rgba(247, 247, 247, 0.514);
    border-radius: 50%;
    overflow: hidden;
}

.product-clr-top {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-clr-top img {
    height: 80%;
}

.product-clr-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    font-family: Product Sans;
    font-weight: 900;
    font-size: 20px;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    background-color: #FD1E57;
}

.pp-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    padding-left: 30px;
    padding-right: 15px;
}

.pp-right-cnt {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}


.pp-rc {
    font-family: Product Sans;
    display: flex;
    width: 100%;
    min-height: 30%;
}

.pp-rc:nth-child(1) {
    display: flex;
    align-items: center;
    gap: 12px;
}

.size-boxs {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: 10px;
    padding: 5px;
}

.size-boxs a {
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 5px;
    font-family: Product Sans;
    color: var(--primary-text);
    background-color: rgb(255, 255, 255);
}

.pp-rc:nth-child(3) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.pp-rc button {
    width: 100%;
    padding: 10px 0px;
    border: none;
    background-color: rgb(59, 57, 57);
    color: white;
    border-radius: 10px;
    font-family: Product Sans;
}

.pp-rc button:nth-child(2) {
    background-color: #FD1E57;
}


.product-cards {
    width: 100%;
    min-height: 100vh;
    margin-top: 15rem;
    padding: 0px 80px;
}

.pc-heading {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 20%;

}

.pc-heading-left {
    display: flex;
    align-items: center;
    width: 40%;
    height: 100%;
}

.pc-heading-left h2 {
    font-family: Alegreya Sans SC;
    font-size: 30px;
}


.pc-heading-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    width: 40%;
    height: 100%;
    font-size: 14px;
}

.pc-cards {
    display: flex;
    width: 100%;
    min-height: 100vh;
    padding: 50px 0px;
}

.pc-left-cards {
    width: 20%;
    min-height: 100%;
    background-color: rgba(234, 230, 252, 0.303);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    margin: 20px 0px;

}

.pc-right-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px 30px;
    width: 80%;
    min-height: 100%;
    flex-wrap: wrap;

}

.pc-img-back {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
}

.card-shapes {
    width: 90%;
    height: 70%;
    border-top-left-radius: 80%;
    border-top-right-radius: 10%;
    background-color: rgba(148, 214, 240, 0.725);
}

.wrap-card {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    width: fit-content;

}

.cards {
    width: 260px;
    height: 60vh;
    flex-shrink: 0;
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.product-cards-image {
    width: 100%;
    height: 50%;
    position: relative;
    background-color: rgba(234, 230, 252, 0.303);
}

.pc-product-img {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    background-color: rgba(135, 207, 235, 0.089);
}

.pc-product-img img {
    height: 100%;
}

.product-card-content {
    cursor: default;
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
    gap: 10px;
    width: 100%;
    height: 50%;
}

.product-card-content h2 {
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.price-pc {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
}

.price-pc del {
    color: grey;
}

.price-pc span:nth-child(3) {
    color: var(--primary-bg);
}

.rating-pc {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
}

.pc-card-btn {
    margin-top: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    padding-right: 10px;
    justify-content: space-between;
}

.pc-card-btn button {
    width: 45%;
    padding: 8px 0px;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    background-color: var(--primary-bg);
    color: var(--secondary-text);
}

.pc-card-btn button:nth-child(2) {
    background-color: transparent;
    color: black;
}


/* WhatBox */


.catergories {
    width: 90%;
    height: 40vh;
    background-image: linear-gradient(to top,
            rgb(239, 172, 172),
            rgb(190, 190, 19));
    margin: 0 auto;
    margin-top: 200px;
    margin-bottom: 150px;
    border-radius: 190px 70px 70px 190px;
    display: flex;
}

.cat-left {
    width: 30%;
    height: 100%;
    position: relative;
}

.whatBox {
    width: 22vw;
    height: 22vw;
    background-color: rgb(151, 5, 5);
    border-radius: 50%;
    display: flex;
    align-items: flex-start;
    margin: auto;
    position: absolute;
    bottom: 0;
    left: -25px;
}

.whatBox h2 {
    font-family: "Gula FREE";
    font-size: 70px;
    justify-self: center;
    position: relative;
    transform: rotate(-20deg);
    display: flex;
    justify-content: center;
    align-items: center;
    top: 110px;
    left: 50px;
    color: white;
}

.whatBox h4 {
    font-family: "Gula FREE";
    font-size: 40px;
    justify-self: center;
    position: relative;
    transform: rotate(-10deg);
    top: 110px;
    left: 60px;
    color: white;
}

.whatBox h3 {
    font-family: "Gula FREE";
    font-size: 80px;
    justify-self: center;
    position: relative;
    transform: rotate(-18deg);
    top: 160px;
    left: -90px;
    color: white;
}

.cat-right {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.cat-right-top {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 70px 70px 0px;
    position: relative;
    top: 15px;
}

.cat-right-top h2 {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-weight: 100;
    padding-right: 90px;
}

.cat-right-bottom {
    width: 100%;
    height: 80%;
    display: flex;
    border-radius: 0px 70px 70px 0px;
}

.cat-right-bottom-start {
    width: calc(100% / 3);
    height: 100%;
    border-radius: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.cat-right-bottom-start h2 {
    font-size: 20px;
}

.cat-right-bottom-start p {
    font-size: 10px;
}

.cat-right-bottom-mid {
    width: calc(100% / 3);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding-right: 70px;
}

.cat-right-bottom-mid h2 {
    font-size: 20px;
}

.cat-right-bottom-mid p {
    font-size: 10px;
}

.cat-right-bottom-last {
    width: calc(100% / 3);
    height: 100%;
    border-radius: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding-right: 70px;
}

.cat-right-bottom-last h2 {
    font-size: 20px;
}

.cat-right-bottom-last p {
    font-size: 10px;
}

/* How pages */


.how-page {
    margin-top: 10px;
    width: 100%;
    height: 50vh;
    background-color: rgb(228, 228, 228);
}

.how-top {
    display: flex;
    align-items: center;
    padding-left: 20px;
    width: 100%;
    height: 20%;
}

.how-top h1 {
    margin-left: 10px;
    font-size: 18px;
    font-family: Product Sans;
}

.how-bottom {
    display: flex;
    width: 100%;
    height: 80%;

}

.c1:nth-child(odd) {
    align-self: flex-end;
}


.c1 {
    display: flex;
    width: calc(100%/4);
    height: 80%;
}


.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
}

.icons {
    width: 90%;
    height: 90%;

}

.text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    height: 100%;
}

.text h5 {
    font-size: 20px;
    font-family: Product Sans;
}

.text p {
    font-size: 10px;
    font-weight: 500;
    font-family: Inter;
}


svg {
    position: absolute;
    height: 10vw;
    left: -4%;
    top: 28%;
    transform: rotate(-90deg);
}

#firstsvg {
    position: absolute;
    height: 10vw;
    left: 23%;
    top: 8%;
    transform: rotate(269deg) scaleX(-1);
}

#secsvg {
    position: absolute;
    height: 10vw;
    left: 46%;
    top: 30%;
    transform: rotate(-90deg);
}